<%- include('../includes/head.ejs') %>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="overflow-x:hidden;">
  <%- include('../includes/navigation.ejs') %>
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1>Green Dream London</h1>
              <p>Make your green dream come true with our high quality landscape gardening services all over London. Our team of expert gardeners provides full range of outdoor services of both maintenance and gardening installation.</p>
              <p class="phone-number">Call Us Now <a href="tel:+44 779 675 3055" class="call">+44 779 675 3055</a></p>
              <a href="#about" class="btn btn-custom btn-lg page-scroll">More Info</a> </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- About Section -->
<%- include('../sections/about.ejs') %>

<!-- Services Section -->
<%- include('../sections/services.ejs') %>

<!-- Gallery Section -->
<%- include('../sections/gallery.ejs') %>

<!-- Testimonials Section -->
<%- include('../sections/testimonials.ejs') %>

<!-- Contact Section -->
<%- include('../sections/contact.ejs') %>

<!-- Footer Section -->
<%- include('../sections/footer.ejs') %>

<%- include('../includes/end.ejs') %>